	#imagen {
	    transition: width 1s, height 1s, transform 1s;
	   transition-delay: 0.2s; 
	 }
	 #imagen:hover {
	   width: 65rem;
	   border-radius: 25rem;
	 }
	 /*animacion del de las letras de oferta*/
ol {
	position: center;
font-family: x-small;
text-align: center;
font-size: 2rem;
	margin-left:-3rem;
	animation-name: porc;
	animation-duration: 5s;
	animation-direction: reverse;
	justify-content: flex-end;
	animation-iteration-count: infinite;
}

@keyframes porc{
	0% {
		color:  rgb(48, 19, 151);
		left: 0px;
		top: 0px;
	}

	25% {
		color:#03080A;
		left: 6px;
		top: 0px;
	}

	50% {
		color: rgb(48, 19, 151);
		left: 6px;
		top: 6px;
	}

	75% {
		color: #03080A;
		left: 0px;
		top: 6px;
	}

	100% {
		color: rgb(48, 19, 151);
		left: 0px;
		top: 0px;
	}

}
	  /*animacion de la imagen */
	  .cuadro {

        transition: width 1s, height 1s, transform 1s;
        transition-delay: 0.5s;
    }

    .cuadro:hover {
        width: 22rem;
        height: 22rem;
	}
	/*animacion de imagen de quienes somos*/
	.img  {
		
		background-color: red;
		position: relative;
		animation-name: example;
		animation-duration: 10s;
	  }
	  
	  @keyframes example {
		0%   {background-color:rgb(255, 0, 157); left:0px; top:0px;}
		25%  {background-color:yellow; left:0px; top:0px;}
		50%  {background-color:blue; left:0px; top:0px;}
		75%  {background-color:green; left:0px; top:0px;}
		100% {background-color:rgb(0, 255, 200); left:0px; top:0px;}
	  }

	  /*animacion de imagen de quienes somos*/
	