  html {
      box-sizing: border-box;
      font-size: 62.5%;
      /*Reset oara rems - 62.5% = 10px de 16px*/
  }  
  *, 
  *:before *:after {
      box-sizing: inherit;
  }

  body {
      font-family: 'Lato', sans-serif;
      font-size: 1.6rem
  }
  /* Para Teléfonos Móviles: */
  [class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* Para Tablets: */
    
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
   
  @media only screen and (min-width: 1280px) {
    /* Para Escritorio: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  /*estylo de nav*/
  body { margin: 1rem; }

  .ul { 
      list-style-type: none;
      margin: 4rem 2rem 0 12rem;
      padding: 1rem;
      overflow: hidden;
      background: #010808;
      width: 80%;
      font-size: 2.3rem;
      border-radius: 1rem;
      margin-bottom: 2rem;
  }

  @media screen and (max-width: 640px) {
      .ul { margin: 2rem 2rem 2rem 2rem;font-size: 1.5rem;}}
  .ul .li  {float: left;}
  .ul .li .a {
      display: block;
      color: white;
      font-family: small;
      text-align: center;
      padding: 0.3rem;
      text-decoration: none;
  }

  .ul .li .a:hover:not(.active) {
      background-color: #62D9D9;
      color: #010808;
      text-decoration: none;
      border-radius: 0.4rem;
      
  }
  .a.active { border-radius: 0.4rem;}
   ul li a.active {background: linear-gradient(to left, #010808, #664891, #664891, #010808);
      text-decoration: none;
      
  }
  .imagen{
    display: block;
    margin: auto;
    border-radius: 30rem;
   width: 30rem;
   right: 50rem;
   margin-top: 1rem;
}
  .ul .li.right {float: right;}
  @media screen and (max-width: 600px) {
      .ul .li.right,
      .ul .li { float: none;}}
      /*final de nav*/
      /*diseño de imagen*/
       .imagen{
           display: block;
           margin: auto;
           border-radius: 30rem;
          width: 60rem;
          right: 50rem;
          margin-top: 5rem;
       }
       @media screen and (max-width: 600px) {
          #imagen{
              width: 100%;
              margin-bottom: 3rem;
          } 
          
          }
      
   /*fooder de pagina de inicio*/
  .site-footer {
      background-color: #010808;
      width: 85%;
      border-radius: 5px;
      display:block;
      margin:auto;
      margin-top: 3rem;
      padding: 1rem;
  }

  .copyright {
      margin: 0;
      float: right;
      color: #ffffff;
      font-size: 2rem;
      padding: 1rem;
      text-align: center;
      
  }
  @media screen and (max-width: 600px) {
      .site-footer{
      width: 90%;
      display:block;
     
      }
      .copyright {
          font-size: 1.3rem; 
          margin: auto; 
          background: #010808;  
          width: 100%;
      }
  }
  /*estilo de formularios*/
  * {
      box-sizing: border-box;
    }
    .nomCliente{
      font-weight: 700;
      display: block;
      margin: auto;
      color:#ffffff;
    }
    input[type=text], select, textarea {
      width:100%;
      padding: 1rem;
      border-radius: 4px;
      border: 1px solid black;
      box-sizing: border-box;
      font-weight: 700;
      resize: vertical;
    }
    label {
      padding: 12px 12px 12px 0;
      display:inline-block;
      margin:auto;
      font-size: 2rem;
      color: #ffffff;
      font-weight: 700;
    }
    
    .boton{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 2rem;
      color: #ffffff;
      background-color: #18ba9f;
      border-radius: 6px;
      border: 2px solid #111111;
    }
    .boton:hover{
      color: #080808;
      background-color: #10ecaa;
    }
    
    .form  {
      border-radius: 5px;
      padding: 1rem;
      width: 35%;
      display: -moz-inline-box;
      margin: auto;
      opacity:0.95;
      background: linear-gradient(to left, #010808, #99E3E8, #664891, #010808);
    }  
    .col-25 {
      float: left;
      width: 25%;
      margin-top: 6px;
    }
    .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .col-25,.form, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }
  /*DISEÑO DE LAS LISTAS*/
  .titl{
    font-size:4rem;
    text-align: center;
    color: black;
    margin-top: 3rem;
    font-family: small;
    background: #51f1d7;
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 2rem;
    border:double 0.5rem #0c0c0c;
    margin-bottom: 2rem;
  }
  h1{
    font-size:4rem;
    text-align: center;
    color: black;
    margin-top: 3rem;
    font-family: small;
    
}
p{
    font-family:monospace;
    color: black;
    text-align: center;
    font-size: 3rem; 
}
@media screen and (max-width: 600px) {
    h1, p {
       font-size: 3rem;  
    }
    .titl{
      width: 90%;
    }
}
table { 
		width: 100%; 
		border-collapse: collapse;
        width: 90%;
        text-align: center;
        margin-left: 5rem;
}

@media only screen and (max-width: 768px) {
	table.resp,
	.resp thead,
	.resp tbody,
	.resp tr,
	.resp th,
	.resp td,
	.resp caption {
	  display: block;
	}
	
	table.resp {
	  border: none;
      margin-left: -0.2rem;	}
	
	.resp thead tr {
	  display: none;
	}
	
	.resp tbody tr {
	  margin: 0;
	  border: 1px solid #2ba6cb;
	}
	
	.resp td  {
	  border: none;
	  border-bottom: 1px solid #dddddd;
	  position: relative;
	  padding-left: 44%;
	  text-align: left;
      font-size: 1.4rem;
	}
	
	.resp tr td:last-child {
	  border-bottom: 1px double #dddddd;
	}
	
	.resp tr:last-child td:last-child {
	  border: none;
        
	}
	
	.resp td:before {
	  position: absolute;
	  top: 6px;
	  left: 6px;
	  width: 40%;
	  padding-right: 3px;
	  white-space: nowrap;
	  text-align: left;
	  font-weight: bold;
        font-size: 1.5rem;
        
	}
    /*citas*/
    .td-v:nth-of-type(1):before {
	  content: "Cliente";
	}
	
	 .td-v:nth-of-type(2):before {
	  content: "Teléfono";
	}
	
	 .td-v:nth-of-type(3):before {
	  content: "Dirección";
	}
	
	.td-v:nth-of-type(4):before {
	  content: "Fecha";
  }
  .td-v:nth-of-type(5):before {
	  content: "Hora";
  }
  .td-v:nth-of-type(6):before {
	  content: "Servicio";
  }
  .td-v:nth-of-type(7):before {
	  content: "Precio";
	}
    
    /*cliente*/
    .td-c:nth-of-type(1):before {
	  content: "nombres";
	}
	 .td-c:nth-of-type(2):before {
	  content: "Apellidos";
	}
  .td-c:nth-of-type(3):before {
	  content: "Dirección";
	}
	.td-c:nth-of-type(4):before {
    content: "Teléfono";
    
  }

  /*servicio*/
	 .td-s:nth-of-type(1):before {
	  content: "servicio";
	}
	.td-s:nth-of-type(2):before {
	  content: "Descripción";
	}
	.td-s:nth-of-type(3):before {
    content: "Precio";
    
	}
}
	tr{
    background-color: #f2f2f2;
     color:#0C120F;
        font-family:small;
        font-size: 2rem;
     }
	th { 
		background:#99E3E8; 
		color:#0C120F; 
		font-weight: bold;
	}

	td, th { 
		padding: 1rem; 
		border: 2px solid #ccc; 
		text-align:center;
  }
  .botton{
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    color: #1a0202;
    background-color: #eaee10;
    border-radius: 6px;
    border: 2px solid #111111;
  }
  .botton:hover{
    background: #ebfc07;
  }
  .botton2{
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    color: #1a0202;
    background-color: #fd0404;
    border-radius: 6px;
    border: 2px solid #111111;
  }
  .botton2:hover{
    background: #d11b1b;
  }
  .botton3{
    float:right;
    margin-top:1rem;
    margin-right: 15rem;
    background: #a77cf8;
    border-radius: 6px;
    border: 2px solid #0a0a0a;
    color: #131212;
    padding: 8px;
    font-weight: 600;
  }

  @media screen and (max-width: 600px) {
   .botton3{
     display: block;
   }
}
.til-login{
  background: #a3cef1;

}

